/*============================================================================
Color Style Sheet

Author:  Antwan Foster { Web Developer }
E-mail:  Antwan3000@gmail.com
website:  www.broadmedium.com

Date:  September 12, 2010

Desctiption:
The CSS code is for the colors of XHTML elements for www.OnKeeBand.com
=============================================================================*/

