.bundle
.sass-cache/
public/assets/
app/assets/docs
app/assets/docs/**/*
app/assets/media
app/assets/media/**/*
public/docs
public/docs/**/*
public/media
public/media/**/*
db/*.sqlite3
log/*.log
tmp/**/*
tmp/*
doc/api
doc/app
*.swp
*~
.DS_Store
