%section#profile-nav 
	%h3.bottom Band Management
	%section#managment
		%article.profile.clearfix
			%a{:href => "/management/lenny"}
				= image_tag("profiles/lenny2-bw.jpg")
				%footer
					%h4.name.bottom Lenny McLean
					%h5.title Founder / Band Leader
		%article.profile
			%a{:href => "/management/anita"}
				= image_tag("profiles/anita3-bw.jpg")
				%footer
					%h4.name.bottom Anita Truitt
					%h5.title Executive Manager
		/ %article.profile
		/ 	%a{:href => "#", :style => "cursor: default"}
		/ 		= image_tag("profiles/david-r1-bw.jpg")
		/ 		%footer
		/ 			%h4.name.bottom David Romaine
		/ 			%h5.title Manager