- @page_class = "events"

- content_for :page_heading do
	%h2#page-heading.events Band Events
	%h3#page
end

- content_for :main_content do

	%p
		- if current_user
			= link_to '+', new_event_path, {:class => "plus-button"}
			
	%ol#events.listing-box
		= render :partial => "shared/event", :collection => @events
		
	= paginate @events
end
