- @page_class = "contact"

- content_for :main_content do
	%section#main.column.span-12.contact
		= image_tag("okb-600x399.png", :class => "matted-photo", :alt => "On Kee Jazz Band", :title => "On Kee Jazz Band")
end

- content_for :sidebar do
	%aside#sidebar.contact.column.span-6
		=# render :partial => "shared/subscription_sidebar"
		
		%section#booking 
			%h3 Booking Contacts
				
			%article.agent
				%p.name.bottom Lenny McLean
				%p.title.bottom Founder / Band Leader
				%p.email.bottom Email: lenny@onkeeband.com
				%p.phone Phone: (508) 740-2470
				=link_to "Lenny McLean - Vcard Download", download_vcard_url(:card => "lenny"), {:class => "icon vcard"}

			%article.agent
				%p.name.bottom Anita Truitt
				%p.title.bottom Executive Manager
				%p.email.bottom Email: anita@onkeeband.com
				%p.phone Phone: (443) 827-1693
				=link_to "Anita Truitt - Vcard Download", download_vcard_url(:card => "anita"), {:class => "icon vcard"}
		
		%section#promo
			%h3 Promotion Package
			%p At your convenience, our promo package is available for download in the following formats:
			=link_to "ONKEE Promo Pkg - Word format", "/docs/onkeeband-promo-pkg.doc", {:class => "icon word"}
			=link_to "ONKEE Promo Pkg - PDF format", "/docs/onkeeband-promo-pkg.pdf", {:class => "icon pdf"}

end

- content_for :page_heading do
	%h2#page-heading.contact Contact Us
end
