- @page_class = "profiles"

- content_for :main_content do
	%section#main.column.span-12.profiles
		%h2.name.bottom Cornell Webb
		%h3.title.bottom 
			Drummer
			%span.location Washington D.C. Band

		%p
			= image_tag("profiles/cornell1.jpg", :alt => "Testing", :title => "", :class => 'append-bottom')

			%span.drop-cap C
			ornell Webb was born & raised in Washington DC.  He is the product of a very musical family with a strict church up bringing.  Cornell started 
			playing at the age of 6 years old in his family church & from there would go on to play for elementary school & community choirs.  
		%p 
			Being blessed to be raised in the presence & watchful eye of  his uncle & mentor  Andre "Blues" Webb  he would get to meet many of music's 
			heavywights knowing that this call on his life would be the road that he would want to take.  
		%p 
			He has been blessed to share the stage & experciences 
			with musical greats such as The Trey Eley, Marcus Mitchell Project, Tamika "Love" Jones, Maysa Leak, & the legendary Godfather of Gogo Chuck Brown. 
			You can currently catch him laying the groove behind up and coming jazz groups On Kee &amp; The Jazz Boyz.
end

- content_for :sidebar do
	%aside#sidebar.history.column.span-6
		= render :partial => "shared/subscription_sidebar"

		= render :partial => "shared/dc_band_sidebar_nav"
end

- content_for :page_heading do
	%h2#page-heading.profiles Profiles & Bios
end