/* grid.css */
.container {width:1060px;margin:0 auto}
.showgrid {background:url(/images/1080-grid-18col.png) repeat-x;}
.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18 {float:left;margin-right:20px;}
.last {margin-right:0;}
.span-1 {width:40px;}
.span-2 {width:100px;}
.span-3 {width:160px;}
.span-4 {width:220px;}
.span-5 {width:280px;}
.span-6 {width:340px;}
.span-7 {width:400px;}
.span-8 {width:460px;}
.span-9 {width:520px;}
.span-10 {width:580px;}
.span-11 {width:640px;}
.span-12 {width:700px;}
.span-13 {width:760px;}
.span-14 {width:820px;}
.span-15 {width:880px;}
.span-16 {width:940px;}
.span-17 {width:1000px;}
.span-18 {width:1060px;margin-right:0;}
input.span-1, textarea.span-1, input.span-2, textarea.span-2, input.span-3, textarea.span-3, input.span-4, textarea.span-4, input.span-5, textarea.span-5, input.span-6, textarea.span-6, input.span-7, textarea.span-7, input.span-8, textarea.span-8, input.span-9, textarea.span-9, input.span-10, textarea.span-10, input.span-11, textarea.span-11, input.span-12, textarea.span-12, input.span-13, textarea.span-13, input.span-14, textarea.span-14, input.span-15, textarea.span-15, input.span-16, textarea.span-16, input.span-17, textarea.span-17, input.span-18, textarea.span-18 {border-left-width:1px;border-right-width:1px;padding-left:5px;padding-right:5px;}
input.span-1, textarea.span-1 {width:28px;}
input.span-2, textarea.span-2 {width:88px;}
input.span-3, textarea.span-3 {width:148px;}
input.span-4, textarea.span-4 {width:208px;}
input.span-5, textarea.span-5 {width:268px;}
input.span-6, textarea.span-6 {width:328px;}
input.span-7, textarea.span-7 {width:388px;}
input.span-8, textarea.span-8 {width:448px;}
input.span-9, textarea.span-9 {width:508px;}
input.span-10, textarea.span-10 {width:568px;}
input.span-11, textarea.span-11 {width:628px;}
input.span-12, textarea.span-12 {width:688px;}
input.span-13, textarea.span-13 {width:748px;}
input.span-14, textarea.span-14 {width:808px;}
input.span-15, textarea.span-15 {width:868px;}
input.span-16, textarea.span-16 {width:928px;}
input.span-17, textarea.span-17 {width:988px;}
input.span-18, textarea.span-18 {width:1048px;}
.append-1 {padding-right:60px;}
.append-2 {padding-right:120px;}
.append-3 {padding-right:180px;}
.append-4 {padding-right:240px;}
.append-5 {padding-right:300px;}
.append-6 {padding-right:360px;}
.append-7 {padding-right:420px;}
.append-8 {padding-right:480px;}
.append-9 {padding-right:540px;}
.append-10 {padding-right:600px;}
.append-11 {padding-right:660px;}
.append-12 {padding-right:720px;}
.append-13 {padding-right:780px;}
.append-14 {padding-right:840px;}
.append-15 {padding-right:900px;}
.append-16 {padding-right:960px;}
.append-17 {padding-right:1020px;}
.prepend-1 {padding-left:60px;}
.prepend-2 {padding-left:120px;}
.prepend-3 {padding-left:180px;}
.prepend-4 {padding-left:240px;}
.prepend-5 {padding-left:300px;}
.prepend-6 {padding-left:360px;}
.prepend-7 {padding-left:420px;}
.prepend-8 {padding-left:480px;}
.prepend-9 {padding-left:540px;}
.prepend-10 {padding-left:600px;}
.prepend-11 {padding-left:660px;}
.prepend-12 {padding-left:720px;}
.prepend-13 {padding-left:780px;}
.prepend-14 {padding-left:840px;}
.prepend-15 {padding-left:900px;}
.prepend-16 {padding-left:960px;}
.prepend-17 {padding-left:1020px;}
.border {padding-right:9px;margin-right:10px;border-right:1px solid #ddd;}
.colborder {padding-right:39px;margin-right:40px;border-right:1px solid #ddd;}
.pull-1 {margin-left:-60px;}
.pull-2 {margin-left:-120px;}
.pull-3 {margin-left:-180px;}
.pull-4 {margin-left:-240px;}
.pull-5 {margin-left:-300px;}
.pull-6 {margin-left:-360px;}
.pull-7 {margin-left:-420px;}
.pull-8 {margin-left:-480px;}
.pull-9 {margin-left:-540px;}
.pull-10 {margin-left:-600px;}
.pull-11 {margin-left:-660px;}
.pull-12 {margin-left:-720px;}
.pull-13 {margin-left:-780px;}
.pull-14 {margin-left:-840px;}
.pull-15 {margin-left:-900px;}
.pull-16 {margin-left:-960px;}
.pull-17 {margin-left:-1020px;}
.pull-18 {margin-left:-1080px;}
.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18 {float:left;position:relative;}
.push-1 {margin:0 -60px 1.5em 60px;}
.push-2 {margin:0 -120px 1.5em 120px;}
.push-3 {margin:0 -180px 1.5em 180px;}
.push-4 {margin:0 -240px 1.5em 240px;}
.push-5 {margin:0 -300px 1.5em 300px;}
.push-6 {margin:0 -360px 1.5em 360px;}
.push-7 {margin:0 -420px 1.5em 420px;}
.push-8 {margin:0 -480px 1.5em 480px;}
.push-9 {margin:0 -540px 1.5em 540px;}
.push-10 {margin:0 -600px 1.5em 600px;}
.push-11 {margin:0 -660px 1.5em 660px;}
.push-12 {margin:0 -720px 1.5em 720px;}
.push-13 {margin:0 -780px 1.5em 780px;}
.push-14 {margin:0 -840px 1.5em 840px;}
.push-15 {margin:0 -900px 1.5em 900px;}
.push-16 {margin:0 -960px 1.5em 960px;}
.push-17 {margin:0 -1020px 1.5em 1020px;}
.push-18 {margin:0 -1080px 1.5em 1080px;}
.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18 {float:left;position:relative;}
div.prepend-top, .prepend-top {margin-top:1.5em;}
div.append-bottom, .append-bottom {margin-bottom:1.5em;}
.box {padding:1.5em;margin-bottom:1.5em;background:#e5eCf9;}
hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:1px;margin:0 0 1.45em;border:none;}
hr.space {background:#fff;color:#fff;visibility:hidden;}
.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}
.clear {clear:both;}